
*.pdf

# Compiled class file
*.class

# Log file
*.log

#IDE files
.idea
*.iml
out

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tgz
*.rar
